<div class=home_div>
 <a href=<%= users_new_path %> class="home_a">
<h1 class = home>Open source collection of Books</h1>

<p class=home_p>Click anywhere to login or register!</p>
</a>
</div>


# How to make this entire page a link to the books page