<div class=home_div>
 <a href=<%= books_books_path %> class="home_a">
<h1 class = home>Open source collection of Books</h1>
# contact tags
<p class=home_p>Click anywhere to see and update the list!</p>
</a>
</div>


# How to make this entire page a link to the books page