<div class=home_div>
 
<h1 class = home>Open source collection of Books</h1>

<p class='home_p'><a href=<%= login_path %> class="home_a">Click here to login</a></p>


<p class='home_p home_2' ><a href=<%= users_new_path %> class="home_a">Click here to Register</a></p>
</div>
