<table>
    <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
            <th>URL</th>
    </tr>
    <tr>
         <td class = blanks><%= @book.title %></td>
         <td class = blanks><%= @book.author %></td>
         <td class = blanks><%= @book.description %></td>
         <td class = blanks><%= @book.url %></td>
    </tr>
</table>
 